@media(max-width:1450px) {

    .headline-container {
        padding: 20px 0px;
        width: 94%;
        padding-left: 15px;
        flex-wrap: nowrap;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .headline {
        font-size: 41px;
        border-right: none;
    }

    .subheadline {
        padding-left: 0;
    }

    #subheadline {
        justify-content: flex-start;
    }

    .summary-main {
        padding-left: 0px;
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 40px;
        height: auto;
        width: 100%;
        margin-top: 150px;
    }

    .summary-container {
        height: auto;
        width: 330px;
        padding: 10px 0px 15px 0px;
        gap: 20px;
        justify-content: center;
    }

    .padding {
        padding: 0px 5px !important;
    }

    .gap {
        gap: 10px;
    }

    .width {
        width: 30%;
    }

    .font {
        font-size: 14px;
    }

    .font-25 {
        font-size: 15px;
    }

    .font-60 {
        font-size: 40px;
    }

    .sub-cont {
        height: 130px;
        width: -webkit-fill-available;
        padding: 5px 15px;
    }

    .sub-cont img {
        height: 45px;
        width: 45px;
    }

    .hover img {
        width: 35px;
        height: 35px;
    }

    .container-right {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 85px;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #F6F7F8;
        opacity: 1;
        animation-name: fadeOut;
        animation-duration: 400ms;
        /* Animation dauert 2 Sekunden */
        animation-delay: 1.5s;
        /* Hier wird das Delay von 1,5 Sekunden hinzugefügt */
        animation-timing-function: ease-in;
        animation-fill-mode: forwards;
    }
}


@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
        pointer-events: none;
    }
}